* {
	box-sizing: border-box;
}

.navTitleLog {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.titleLogo {
	font-size: 77px;
	font-family: math;
}

.imgLogo {
	width: 14%;
}

.voceMenu {
	font-size: 18px;
}

.voceSottoMenu {
	font-size: 15px;
	color: white;
	background-color: #1A237E;
}

.autocomplete {
	/*the container must be positioned relative:*/
	position: relative;
	display: inline-block;
}

.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
}

.removeBorder{
	border:0px;
}

.logo{
	font-family: 'Roboto';
    font-size: x-large;
}

.colorGray{
	background-color: #E6E0E0 !important;
}

.customTable {
	border: 0px !important;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
	/*when hovering an item:*/
	background-color: #e9e9e9;
}

.autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: DodgerBlue !important;
	color: #ffffff;
}

.paginate_footer {
	margin-bottom: 10px;
	margin-top: 10px;
}

body {
	font-family: 'Roboto', sans-serif;
}

.modal-backdrop.in {
	filter: alpha(opacity = 50);
	opacity: .8;
}

.input-error {
	border-style: solid;
	border-color: red;
}

.modal-content {
	background-color: #ececec;
	border: 1px solid #bdc3c7;
	border-radius: 0px;
	outline: 0;
}

.modal-header {
	min-height: 16.43px;
	padding: 15px 15px 15px 15px;
	border-bottom: 0px;
}

.modal-body {
	position: relative;
	padding: 5px 15px 5px 15px;
}

.search-found {
	text-decoration: underline;
}

.modal-footer {
	padding: 15px 15px 15px 15px;
	text-align: left;
	border-top: 0px;
}

.checkbox {
	margin-bottom: 0px;
}

/*.btn {
    border-radius: 0px;
}*/
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus,
	.btn.active.focus {
	outline: none;
}

.btn-lg, .btn-group-lg>.btn {
	border-radius: 0px;
}

.btn-link {
	padding: 5px 10px 0px 0px;
	color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
	color: #2c3e50;
	text-decoration: none;
}

.glyphicon {
	top: 0px;
}

#sesso option:first-child {
  color: gray;
}
/*
.form-control {
  border-radius: 0px;
}
*/

.marginBottom {
	margin-bottom: 5px;
}

.panel-table .panel-body {
	padding: 0;
}

.panel-table .panel-body .table-bordered {
	border-style: none;
	margin: 0;
}

.panel-table .panel-body .table-bordered>thead>tr>th:last-of-type,
	.panel-table .panel-body .table-bordered>tbody>tr>td:last-of-type {
	border-right: 0px;
}

.panel-table .panel-body .table-bordered>thead>tr>th:first-of-type,
	.panel-table .panel-body .table-bordered>tbody>tr>td:first-of-type {
	border-left: 0px;
}

.panel-table .panel-body .table-bordered>tbody>tr:first-of-type>td {
	border-bottom: 0px;
}

.panel-table .panel-body .table-bordered>thead>tr:first-of-type>th {
	border-top: 0px;
}

.panel-table .panel-footer .pagination {
	margin: 0;
}

/*
used to vertically center elements, may need modification if you're not using default sizes.
*/
.panel-table .panel-footer .col {
	line-height: 34px;
	height: 34px;
}

.panel-table .panel-heading .col h3 {
	line-height: 30px;
	height: 30px;
}

.panel-table .panel-body .table-bordered>tbody>tr>td {
	line-height: 34px;
}

/*.btn{
	font-size : 12px;
}*/
.vertical-offset-100 {
	padding-top: 100px;
}

.vertical-offset-50 {
	padding-top: 50px;
}

.linkReg{
	color: #337ab7;
    font-family: cursive;
    font-size: medium;
}

.logo-title {
	font-family: stencil;
	color: #1A237E;
	margin: 0 0 50px 0;
	font-size: 60px;
}

.imgLogoLoginAdmin{
	width: 70%;
}

.navbar-custom {
	max-height: none;
	background-color: #b0bec5;
	margin: 0;
}

.navbar-custom-admin{
	max-height: none;
	background-color: #4b5191;;
	margin: 0;
}

.nav li a {
	color: black;
}

.icon-bar {
	background-color: white;
}

.navbar-toggle:hover {
	background-color: #D5D4D4;
}

.nav li.active {
	background-color: #D5D4D4;
}

#logtab li.lilog {
	background-color: #ddd
}

#logtab li.active {
	background-color: #fff;
	border: 1px solid #ddd;
}

#logtab li.active>a {
	pointer-events: none;
	border: 0px;
}

.nav li a:hover {
	background-color: #D5D4D4;
}

.nav li a.coloradmin:hover {
	background-color: #283593 !important;
}


.navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
	color: white !important;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: #D5D4D4;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: #D5D4D4;
}

.nav .open>a.coloradmin, .nav .open>a.coloradmin:focus, .nav .open>a.coloradmin:hover {
	background-color: #D5D4D4;
}

.nav>li>a.coloradmin:focus, .nav>li>a.coloradmin:hover {
	background-color: #D5D4D4;
}


.logout {
	background-color: inherit;
}

.log_panel {
	font-family: 'Courier New', monospace;
	font-size: 12px;
}

.coloured .log_e {
	color: red;
}

.coloured .log_w {
	color: orange;
}

.coloured .log_i {
	color: green;
}

.coloured .log_d {
	color: gray;
}

.coloured .log_t {
	color: light-gray;
}

span[class^='log_e'], div[class*=' log_e'] {
	color: red
}

span[class^='log_w'], div[class*=' log_e'] {
	color: orange
}

span[class^='log_i'], div[class*=' log_e'] {
	color: green
}

span[class^='log_d'], div[class*=' log_e'] {
	color: gray
}

span[class^='log_t'], div[class*=' log_e'] {
	color: light-gray;
}

/*search box css start here*/
.search-sec {
	padding: 2rem;
}

.search-slt {
	display: block;
	width: 100%;
	line-height: 1.5;
	color: #55595c;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	height: calc(3rem + 2px) !important;
	border-radius: 0;
}

.wrn-btn {
	width: 100%;
	font-size: 16px;
	font-weight: 400;
	text-transform: capitalize;
	height: calc(3rem + 2px) !important;
	border-radius: 0;
}

.btnCheck span.glyphicon {
	opacity: 0;
}

.btnCheck.active span.glyphicon {
	opacity: 1;
}

.divFatturatoInput {
	float: left;
	margin-left: 10px;
	margin-top: 7%;
}

.divContainerFatturato {
	display: table-cell;
	text-align: center;
}

.form-group {
	margin-bottom: 2px;
	margin-top: 10px;
}

.divAccordion {
	margin-left: 30px;
	margin-right: 30px;
}

.h3Accordion {
	margin-bottom: 20px;
}

.tableAccordionAttivita thead {
	background-color: lightblue !important;
}

.trAccordionAttivita {
	background-color: lightblue !important;
}

.tableAccordionSpese thead {
	background-color: lightgreen !important;
}

.trAccordionSpese {
	background-color: lightgreen !important;
}

.noPadding {
	padding: 0px !important;
}

.stampaPdf i {
	color: red;
}

.divFilterCheck {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 20px
}

.divFilterCheck span {
	margin-left: 6px;
}

.thAlignCenter {
	text-align: center;
}

.iframeCustom {
	padding: 0px;
	padding-right: 29px;
	border: none;
	position: absolute;
	height: 700px;
}

.marginTop1 {
	margin-top: 1%;
}

input[type="date"]::-webkit-inner-spin-button {
	display: none;
}

input[type="date"]::-webkit-clear-button {
	
}

.verticalMiddle {
	vertical-align: middle !important;
}

/*  input[type="date"]::-webkit-calendar-picker-indicator{  */
/*     display: none;  */
/*  }  */
nav.sidebar, .main {
	-webkit-transition: margin 200ms ease-out;
	-moz-transition: margin 200ms ease-out;
	-o-transition: margin 200ms ease-out;
	transition: margin 200ms ease-out;
}

.main {
	padding: 10px 10px 0 10px;
}

.main {
	position: absolute;
	width: calc(100% - 40px);
	margin-left: 40px;
	float: right;
}

nav.sidebar:hover+.main {
	margin-left: 200px;
}

nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand
	{
	margin-left: 0px;
}

nav.sidebar .navbar-brand, nav.sidebar .navbar-header {
	text-align: center;
	width: 100%;
	margin-left: 0px;
}

nav.sidebar a {
	padding-right: 13px;
}

nav.sidebar .navbar-nav>li:first-child {
	border-top: 1px #e5e5e5 solid;
}

nav.sidebar .navbar-nav>li {
	border-bottom: 1px #e5e5e5 solid;
}

nav.sidebar .navbar-nav .open .dropdown-menu {
	position: static;
	float: none;
	width: auto;
	margin-top: 0;
	background-color: transparent;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

nav.sidebar .navbar-collapse, nav.sidebar .container-fluid {
	padding: 0 0px 0 0px;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	color: black;
}

nav.sidebar {
	width: 200px;
	height: 100%;
	margin-left: -160px;
	float: left;
	margin-bottom: 0px;
}

nav.sidebar li {
	width: 100%;
}

nav.sidebar:hover {
	margin-left: 0px;
}

.forAnimate {
	opacity: 0;
}

.main {
	width: calc(100% - 200px);
	margin-left: 200px;
}

nav.sidebar {
	margin-left: 0px;
	float: left;
}

nav.sidebar .forAnimate {
	opacity: 1;
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus{
	color: black !important;
	background-color: transparent;
}

nav:hover .forAnimate {
	opacity: 1;
}

section {
	padding-left: 15px;
}

.sidemenu {
	margin-top: 3% !important;
	width: 20% !important;
	margin-left: 1% !important;
	margin-right: 15px !important;
}

.sidemenuRight {
	float: right !important;
	margin-top: 3% !important;
	width: 20% !important;
	margin-right: 1% !important;
	margin-left: 15px !important;
}

.headerSideMenu {
	pointer-events: none;
	color: white !important;
	font-size: 17px;
	font-family: emoji;
	background-color: #1A237E;
}

.aSideMenu {
	pointer-events: none;
}

.footer {
	background-color: #EEEEEE;
}

.divFooter {
	display: none;
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%;
}

.textFooter{
	margin-left: 1%;
    padding-top: 2%;
}

#headerWrap {
	margin-bottom: 20px;
}


.fading-side-menu.affix-top {
    opacity: 1;
    transition: opacity 1s
}
.fading-side-menu.affix {
    top: 11.5px;
}
.fading-side-menu.affix {
    opacity: 0.2;
    transition: opacity 5s
}
.fading-side-menu.affix:hover {
    opacity: 1;
    transition: opacity 0.3s
}
/* RECOMMENDED STYLING BUT NOT REQUIRED */
.fading-side-menu a {
    color: rgb(102, 102, 102);
}
.fading-side-menu a .fa {
    padding-right:15px;
}

.leftMenuFooter{
	float: left;	
}

.rightMenuFooter{
	float: right;	
}

.coloradmin{
	background-color: #4b5191 !important;
}

.dropdown-menu>li>a:hover {
	color: black !important;
}

.liVoceMenu{
	margin-left: 0%;
}

.titleTable{
	font-size: 20px;
	font-family: math;
}

.divImg{
	text-align: center;
	margin-bottom: 2%;
}

.imgnews{
	width: 90%;
}

.titlenews{
	font-size: 25px;
}

.divNews{
	text-align: -webkit-center;		
    
}

.sottoDivNews{
	display: table-cell;
}

.sottoDivNewsAdmin{
	width: 57%;
}

.textnews{
	margin-top: 1%;
	font-size: 16px;
}

.divPanelFooter{
	text-align: left;
	background-color: transparent;
}

.linksmallscreen{
	font-size:16px;
}

.lilinksmallscreen{
	margin-bottom: 10%;
}

.inputFileClass{
	margin-top:0px !important;
}

.divImgInsert{
	text-align: center;
	margin-bottom: 2%;
	display: none;
}

.buttonadmin{
	width: 49%;
	height: 35px;
}


.rating {
      float:center;
    }

    /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
      follow these rules. Every browser that supports :checked also supports :not(), so
      it doesn’t make the test unnecessarily selective */
    .rating:not(:checked) > input {
        position:absolute;
        clip:rect(0,0,0,0);
    }

    .rating:not(:checked) > label {
        float:right;
        width:1em;
        /* padding:0 .1em; */
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:300%;
        /* line-height:1.2; */
        color:#ddd;
    }

    .rating:not(:checked) > label:before {
        content: '★ ';
    }

    .rating > input:checked ~ label {
        color: dodgerblue;
        
    }

    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: dodgerblue;
        
    }

    .rating > input:checked + label:hover,
    .rating > input:checked + label:hover ~ label,
    .rating > input:checked ~ label:hover,
    .rating > input:checked ~ label:hover ~ label,
    .rating > label:hover ~ input:checked ~ label {
        color: dodgerblue;
        
    }

    .rating > label:active {
        position:relative;
        top:2px;
        left:2px;
    }
    
fieldset.custom-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.custom-border {
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}

.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}

select.form-control{
    height: auto !important;
    padding: .6rem .8rem calc(.6rem + 1px) .8rem !important;
}
    
.custom-select {
    height: auto !important;
    padding: .6rem .8rem !important;
    border: 2px solid #ced4da !important;
    transition: none !important;
}

.form-control {
    padding: .6rem .8rem !important;
    border: 2px solid #ced4da !important;
    transition: none !important;
}

.tick{
	font-size: larger;
    font-weight: bold;
}

.social-card-header{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 96px;
}
.social-card-header i {
    font-size: 32px;
    color:#FFF;
}
.bg-facebook {
    background-color:#3b5998;
}
.text-facebook {
    color:#3b5998;
}
.bg-google-plus{
    background-color:#dd4b39;
}
.text-google-plus {
    color:#dd4b39;
}
.bg-twitter {
    background-color:#1da1f2;
}
.text-twitter {
    color:#1da1f2;
}
.bg-pinterest {
    background-color:#bd081c;
}
.text-pinterest {
    color:#bd081c;
}
.share:hover {
        text-decoration: none;
    opacity: 0.8;
}
   